<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twisty.superclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53f1ed42fd98c5025e00c7ed" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Kamia" />

        <activity
            android:name=".view.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ServerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.BaseActivity" />
        <activity
            android:name=".view.AccsetActivity"
            android:label="@string/title_activity_accset"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.salesBill.SalesBillActivity"
            android:configChanges="orientation|keyboard"
            android:label="@string/title_activity_sell_order"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.BluetoothListActivity"
            android:label="@string/title_activity_bluetooth_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <activity
            android:name=".view.ModuleOrderActivity"
            android:label="@string/title_activity_module_order"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.salesBill.SalesBillListActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/title_activity_sales_bill_list" />
        <activity
            android:name=".view.salesBill.SalesBillFilterActivity"
            android:label="@string/title_activity_filter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.filter.TraderFilterActivity"
            android:label="@string/title_activity_trader_filter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.filter.EmployeeFilterActivity"
            android:label="@string/title_activity_employee_filter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.salesBill.SalesBillAddGoodsActivity"
            android:label="@string/title_activity_add_goods"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.filter.GoodsFilterActivity"
            android:label="@string/title_activity_goods_filter"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.salesOrder.SalesOrderActivity"
            android:label="@string/title_activity_sales_order"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.salesOrder.SalesOrderAddGoodsActivity"
            android:label="@string/title_activity_sales_order_add_goods"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.salesOrder.SalesOrderListActivity"
            android:label="@string/title_activity_sales_order_list" />
        <activity
            android:name=".view.transfer.TransferActivity"
            android:label="@string/title_activity_transfer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.stockCheck.StockCheckActivity"
            android:label="@string/title_activity_stock_check"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.salesOrder.SalesOrderFilterActivity"
            android:label="@string/title_activity_sales_order_filter" />
        <activity
            android:name=".view.stockCheck.StockCheckAddGoodsActivity"
            android:label="@string/title_activity_stock_check_add_goods" />
        <activity
            android:name=".view.stockCheck.StockCheckFilterActivity"
            android:label="@string/title_activity_stock_check_filter" />
        <activity
            android:name=".view.stockCheck.StockCheckListActivity"
            android:label="@string/title_activity_stock_check_list" />
        <activity
            android:name=".view.transfer.TransferAddGoodsActivity"
            android:label="@string/title_activity_transfer_add_goods" />
        <activity
            android:name=".view.transfer.TransferFilterActivity"
            android:label="@string/title_activity_transfer_filter"></activity>
        <activity
            android:name=".view.transfer.TransferListActivity"
            android:label="@string/title_activity_transfer_list"></activity>
    </application>

</manifest>
